
<%= form_with(model: @flight, url: new_booking_path, method: "get") do |f| %>
    <%= f.hidden_field :num_passengers, value: params[:num_passengers] %>
<ul>
    <% @flights.each do |flight| %>
        <li>
        <%= flight.departure_airport.city %>
        <%= flight.arrival_airport.city  %>
        <%= flight.departure %>
        <%= f.radio_button :flight_id, flight.id %>
        </li>
    <% end %>
</ul>  
<%= f.submit "Book Flight" %>
<% end %>


