<h1>Flights#index</h1>
<p>Find me in app/views/flights/index.html.erb</p>

<%= simple_form_for :search, url: root_path, method: "GET", html: { class: 'form-inline' } do |f| %>
  <%= f.input :name, input_html: {value: ""} %>   
  <%= f.submit "Search", class: "btn btn-primary" %>
<% end %>
 


<% comment do %>
<ul>
    <% @flights.each do |flight| %>
        <li>
        <%= flight.departure_airport.city %>
        <%= flight.arrival_airport.city  %>
        <%= flight.departure %>
    </li>
    <% end %>

</ul>  
<% comment end %>


